
<p id="notice"><%= notice %></p>

<h1>Thematics</h1>

<div class="row m-5">
  <div class="col-lg-6 text-center">
    <%= @thematics.first.nombre_te %>
    <%= link_to 'Entrar',  thematic_path(@thematics.first)%>


  </div>
  <div class="col-lg-6 text-center">
    <%= @thematics.second.nombre_te %>
    <%= link_to 'Entrar',  thematic_path(@thematics.second)%>

  </div>
</div>
<div class="row m-5">
  <div class="col-lg-6 text-center">
    <%= @thematics.third.nombre_te %>
    <%= link_to 'Entrar',  thematic_path(@thematics.third)%>


  </div>
  <div class="col-lg-6 text-center">
    <%= @thematics.fourth.nombre_te %>
    <%= link_to 'Entrar',  thematic_path(@thematics.fourth)%>

  </div>
</div>



<br>
