<%= form_with(model: thematic, local: true) do |form| %>
  <% if thematic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thematic.errors.count, "error") %> prohibited this thematic from being saved:</h2>

      <ul>
      <% thematic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :nombre_te %>
    <%= form.text_field :nombre_te %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
