<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @thematic.location %>
</p>

<p>
  <strong>Nombre te:</strong>
  <%= @thematic.nombre_te %>
</p>

<%= link_to 'Edit', edit_thematic_path(@thematic) %> |
<%= link_to 'Back', thematics_path %>
