<% if false%>
  <div class="text-center border-left border-right w-25 mx-auto  titulo-localidad border-dark " >
    <h2 >  <%=Location.find(current_user.location_id).nombre_loc %></h2>
  </div>
  <%end%>

  <div class="jumbotron p-3 p-md-5 text-white rounded mx-5 d-flex flex-row " style="background:#1d1e22;">
        <div class="col-md-8 px-0 mr-5 ">
          <div class="display-4 font-italic d-flex " style="">
            <i class="fa fa-comments "></i> <h1 class="mx-3 mt-2">PROBLEMÁTICAS&nbsp;</h1>
          </div>
          <p class="lead my-3 text-justify">Como ciudadano puedes crear una problemática o iniciativa que afecte a tu localidad.
            En cada problemática tienes la opción para dejar un comentario o posible solución.
            Si te afecta determinada problemática dale al botón ¿me perjudica? para que el representante de tu localidad se entere de las problemáticas mas apremiantes
            </p>
        </div>
        <div class="input-group my-auto ml-5 d-flex flex-row ">

            <div class="">
              <%= form_tag({:controller => "problematics", :action => "index"}, :method => "get") %>

            </div>

            <div class=" ">

              <%= select_tag(:categoria_pr, options_for_select([['Todas', 'all'],['Movilidad','Movilidad'], ['Contaminacion', 'Contaminacion'], ['Seguridad', 'Seguridad'],['Cultura y Recreacion', 'Cultura y Recreacion'],], 5), class:" custom-select" )%>

            </div>
            <div class="mt-3">
              <%= submit_tag "Filtrar" , class:"btn btn-warning mx-2 " %>

            </div>


       </div>
  </div>



<div class="mb-3 mx-5 p-3 bg-white rounded border box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
        <% @problematics.each do |problematic| %>
        <div class="media text-muted pt-3 border-bottom border-gray">

          <%if problematic.image.attached? %>
            <%= image_tag problematic.image ,class:"mr-2 rounded", alt:"Thumbnail [32x32]" , style:"width: 32px; height: 32px;"%>
          <%else %>
              <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166acb18bbf%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166acb18bbf%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.546875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          <%end %>


          <p class="media-body pb-3 mb-0 small lh-125  border-gray">
            Problematica # <%= problematic.id %>
            <strong class="d-block text-dark"><%= problematic.nombre_pr %></strong>
            <strong class="d-block text-gray-dark">  Categoria: <%= problematic.categoria_pr %></strong>

          </p>
          <div class=" ml-auto "><%= link_to 'Mas detalles', problematic_path(problematic) , class:"btn btn-outline-danger", style:" border: #FF5A09"%></div>

        </div>

        <% end %>
      </div>

      <div class="mx-auto " style="width:300px;">
        <%= link_to 'Crea un nueva problematica', new_problematic_path, class:"btn btn-warning my-5" %>

      </div>
