<p id="notice"><%= notice %></p>

<h1>Problematics</h1>

<table>
  <thead>
    <tr>
      <th>Nombre pr</th>
      <th>Descripcion pr</th>
      <th>Te perjudica</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problematics.each do |problematic| %>
      <tr>
        <td><%= problematic.nombre_pr %></td>
        <td><%= problematic.descripcion_pr %></td>
        <td><%= problematic.te_perjudica %></td>
          <td><%= link_to 'Seleciona', problematic_path(problematic) %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Crea un nueva problematica', new_problematic_path %>
