<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>Integrate</title>
    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
       	<nav id="sidebar" class="">
       		<div class="sidebar-header ">
       			<h3 class="logo  font-weight-bold">INTEGRATE</h3>
       		</div>


       		<ul class="list-unstyled components">
            <li class="active flex-row d-flex ">
              <a class="fa fa-home text-center "><%= link_to 'Home', welcome_index_url,class:"flex-fill" %></a>

       			 </li>
             <% if user_signed_in?%>

               <% if current_user.roll == 'Representante'%>
         			<li>
         				<a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>   Dashboard </a>
         			</li>
              <%end%>
            <%end%>

       			<li>
       				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-users" aria-hidden="true"></i><span> ¿Cómo integrarte?</span></a>
       				<ul class="collapse list-unstyled" id="pageSubmenu">
       					<li>
       						<a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> <span>Como ciudadano </span> </a>
       					</li>
       					<li>
       						<a href="#"> <i class="fa fa-university" aria-hidden="true"></i> <span> Como Representante</span> </a>
       					</li>

       				</ul>
       			</li>
            <% if user_signed_in? %>
            <li>
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-cubes" aria-hidden="true"></i><span> Mecanismos de integración</span></a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="font-menu d-flex flex-row" >
                  <a class="fa fa-road text-center "><%= link_to 'Problematicas', {:controller => "problematics", :action => "index", :id => current_user.location_id , :categoria_pr=>"all"},class:"flex-fill" %></a>
                </li>
                <li class=" flex-row d-flex">
                  <a class="fa fa-newspaper-o text-center "><%= link_to 'Noticias', {:controller => "reports", :action => "index",:id => current_user.location_id , :categoria_re=>"all"},class:"flex-fill" %></a>

                </li>
                <li class=" flex-row d-flex">
                  <a class="fa fa-clipboard text-center "><%= link_to 'Encuestas', {:controller => "polls", :action => "index"},class:"flex-fill" %></a>

                </li>


                <li class=" flex-row d-flex">
                  <a class="  fa fa-calendar-check-o text-center "><%= link_to 'Seguimiento de proyectos', {:controller => "polls", :action => "index"},class:"flex-fill" %></a>

                </li>

              </ul>
            </li>

      <% end %>

       			<li>
       				<a href="#contact">Contáctanos</a>
       			</li>
       		</ul>

       		<ul class="list-unstyled CTAs">
       			<li>
       				<a href="#" class="download"><i class="fa fa-mobile size:3x" style="font-size:48px;" aria-hidden="true"></i> <br> Descarga nuestra App </a>
       			</li>

       		</ul>
       	</nav>

        <!-- Contenido general-->
       	<div id="content">
       		<nav class="navbar navbar-expand-lg navbar-light bg-light ">

       		<button type="button" id="sidebarCollapse" class="btn btn-icon position-fixed">
       			<i class="fa fa-align-justify"></i> <span class="font-weight-bold" > IN </span>
       		</button>

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto  ">
                <li class="nav-item active border-left border-dark menu-nav pl-3 pr-3 ">
                  <a class="nav-link" href="#"> <i class="fa fa-home" aria-hidden="true"></i><span class="menu-nav"> Home</span> <span class="sr-only">(current)</span></a>
                </li>
                <% if user_signed_in? %>
                    <li class="nav-item border-left border-dark pl-3 pr-3 pt-2 menu-nav">
                       <span class=""> Hola <%= current_user.nombre_us%>! </span>
                    </li>
                    <li class="nav-item border-left border-dark pl-3 pr-3 pt-2">
                      <i class="fa fa-sign-out m-auto" aria-hidden="true"></i>
                    <span style="font-size: 70%; " class="menu-nav "> <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></span>
                    </li>

                 <% else %>
                     <li class="nav-item border-left border-dark pl-3 pr-3 pt-2">
                      <span><i class="fa fa-sign-in" aria-hidden="true"></i></span> <span class="menu-nav" style="font-size: 80%;"> <%= link_to "Iniciar sesión", new_user_session_path %></span>
                     </li>
                     <li class="nav-item border-left border-dark pl-3 pr-3 pt-1">
                      <span>  <i class="fa fa-id-card-o" aria-hidden="true"></i> </span> <span class="menu-nav" style="font-size: 80%;">
                        <button type="button" class="btn" style="background: #FF5A09" data-toggle="modal" data-target="#exampleModal">
                        Registrate
                      </button>
                      </span>
                     </li>
                 <% end %>
              </ul>
            </div>
          </nav>

          <!-- Contenido general-->

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>

          <!-- Modal informativo para el registro como ciudadano o Representante-->

          <div class="modal fade "  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content " style=" border-color:#FF5A09; border-width:3px ">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">¿Como te integrarás?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body border-primary">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6  ">
                        <div class="display-4 text-center "  style="color:#FF5A09">
                          <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        <div class="">
                          <p class="" style="font-size:85%">Si eres Representante contactate con el equipo de <a href="#"class="d-flex" style="color:#FF5A09">INTEGRATE</a>para verificar tu identidad</p>
                        </div>
                      </div>
                      <div class="col-md-6 ml-auto border-left">
                        <div class="display-4 text-center "  style="color:#FF5A09">
                          <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                          <p style="font-size:85%">Para ciudadanos, haz click en el siguiente boton para tu registro</p>
                          <button type="button" class="btn" style="background:#FF5A09"><%= link_to "Registrate", new_user_registration_path %></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- -------------------------->









        <!-- Footer-->
        <footer id="contact " class=" border-dark d-flex align-items-end" style="border-style: solid; border-width: 2px;">
          <section id="contact" class="footer-all"> </section>
          <div class="footer">
            <div class="row">
              <div class="col-lg-6 text-center mt-5 ">
                <section class="text-left ml-5 pl-3 border-left border-dark">
                  <h5 class="logo-f">Integrate</h5>
                  <h5>Ministerio de Técnologia de información y las comunicaciones de Colombia</h5>
                  <h5>Fedesof</h5>
                  <h5>Colciencias</h5>
                  <h5>www.mintic.gov.co</h5>
                </section>



              </div>
              <div class="col-lg-6 my-3 text-center">
                <div class="resume-section p-3 p-lg-5 d-flex flex-column">
                  <span> Encuentranos en:</span>
                  <ul class="list-inline dev-icons display-4  border-left border-dark">
                      <li class="list-inline-item">
                        <a href="#" target="_blank">
                        <i class="fa fa-instagram "></i>
                         </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="mailto:ing.ivaneduardosanchez" target="_black">
                        <i class="fa fa-envelope fa-sm"></i>
                         </a>
                      </li>
                      <li class="list-inline-item ">
                        <a href="#" target="_blank " >
                        <i class="fa fa-facebook fa-sm"></i>
                         </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" target="_blank">
                          <i class="fa fa-twitter"></i>
                         </a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>

            <h6 class="text-center p-auto">Copyright &copy;. Integrate. Todos los derechos reservador</h6>


          </div>
        </footer >
          <!-- Cierre del contenido-->
          </div>
        <!-- Cierre del wrapper-->
       </div>


 <script>
 	    $(document).ready(function(){
 			$('#sidebarCollapse').on('click',function(){
 				$('#sidebar').toggleClass('active');
 			});
 		});
 	</script>

  </body>
</html>
